<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>🪵 Media Log</title>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://unpkg.com/cal-heatmap/dist/cal-heatmap.min.js"></script>
        <link rel="stylesheet"
              href="https://unpkg.com/cal-heatmap/dist/cal-heatmap.css" />
        {% comment %} Heatmap tooltip {% endcomment %}
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/cal-heatmap/dist/plugins/Tooltip.min.js"></script>
        <script src="https://unpkg.com/htmx.org@2.0.4"
                integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
                crossorigin="anonymous"></script>
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body>
        <nav class="navbar is-primary"
             role="navigation"
             aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/"><strong>Media Log</strong></a>
                <button class="navbar-burger"
                        aria-label="menu"
                        aria-expanded="false"
                        data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'read:read' %}">Read</a>
                </div>
            </div>
        </nav>
        <div class="column">
            <section class="section">
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </section>
        </div>
    </div>
    {% include 'components/footer.html' %}
    {% block scripts %}{% endblock %}
</body>
</html>
